body{
    background-color:rgb(74, 74, 255);
}
html{
    scroll-behavior: smooth;
    scrollbar-width:none;
    max-width:1500px;
}
.name{
    color:whitesmoke;
    font-style:italic;
    p{
        color:black;
        font-size: 20px;
    }
    max-width: 500px;
    font-size:25px;
}
.imagen-principal{
    max-width: 350px;
    border:5px solid black;
    position:relative;
    top:30px;
}
.uber-mich{
    p{
        color:black;
        font-style:oblique;
    }
    color:whitesmoke;
    position:absolute;
    left:400px;
    bottom:250px;
    font-size:30px;
    text-align:center;
}
.meine-projecte{
    h1{
        color:whitesmoke;
        font-style:italic;
        font-size:70px;
    }
    position:absolute;
    top:712px;
    left:480px;
    font-size:25px;
    text-align:center;
}
.schlue-bot{
     border: 2px solid black;
    border-radius: 10px;
    border-width: 5px;
    position:absolute;
    min-width:300px;
    right:600px;
    img{
        max-width:300px;
    }
 p{
    color:rgb(160, 160, 160);
    font-style:oblique;
 }   
}
.profbot{
    img{
        max-width:300px;
    }
    position:absolute;
    top:877px;
    left:1200px;
    text-align: center;
    width:300px;
    border :2px solid black;
    border-radius:10px;
    border-width: 5px;
    h2{
        font-size:35px;
    }
    p{
        color:rgb(160,160,160);
        font-size:23.5px;
        font-style:oblique;
    }
    
}

.schlue-bot-link{
    color:whitesmoke;
    text-decoration:none;
    border-radius:5px;
}
.schlue-bot-button{
    border-radius:10px;
    background-color:black;
    padding-bottom:10px,color rgb(74, 74, 255);
    margin-bottom:15px;
}

.div-webs{
    .webs{
        max-width: 600px;
    }
border: 2px solid black;
border-radius: 10px;
border-width: 5px;
max-width: 600px;
position:absolute;
top:870px;
right:475px;
text-align:center;
h2{
    font-size:35px;
    right:100px;
}
    p{
        color:rgb(160, 160, 160);
        font-size:25px;
        font-style:oblique;
}
}
.profbot-img{
    max-width: 300px;
}
.profbot-code-link{
    color:whitesmoke;
    text-decoration:none;
}
.profbot-button{
    border-radius:10px;
    background-color:black;
}
